// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Rajdhani:wght@500&display=swap');

font-family: 'Major Mono Display', monospace;
font-family: 'Rajdhani', sans-serif;


// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: 'Allerta Stencil', "sans-serif";


// To use a font file (.woff) uncomment following lines
// @font-face {
//     font-family: 'sportropregular';
//     src: url('sportrop-webfont.woff2') format('woff2'),
//          url('sportrop-webfont.woff') format('woff');
// }
// $my-font: "sportropregular";


// @font-face {
//   font-family: neon;
//   src: url(hellodenverdisplayregular_v1.6.ttf);
// }

// font-family: 'Allerta Stencil', sans-serif;
