<div class="containter">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="form-neon mt-5">
        <h2><%= "#{@gang.name} gains new turf:" %></h2>
        <%= simple_form_for [@gang, @turf] do |f| %>
          <%= f.association :territory, collection: @territories, include_blank: false, include_hidden: false %>
          <%= f.button :submit, 'Capture', class: 'neon-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
