
.navbar {
  border-bottom: 2px solid $navy;
  // padding: 16px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.4);
  overflow: hidden;
  transition: 1s;
  &:hover {
    border-bottom: 2px solid $white;
    box-shadow:
    0 0 0.4vw  0.6vw $pink,
    0 0   4vw  0.4vw $purple;
    // inset 0 0 1.5vw  0.4vw $purple,
    // inset 0 0 0.4vw  0.2vw $pink;
  }
}

.navbar a {
  font-family: 'Major Mono Display', monospace;
  color: $teal;
  text-decoration: none;
  text-shadow: 0 0 16px $pink, 0 0 24px $teal, 0 0 32px $purple;
}

.navbar-icon a {
  color: $teal;
  font-size: 24px;
  text-shadow: 0 0 8px $pink, 0 0 16px $teal, 0 0 24px $purple;
  // text-shadow: 0 0 8px $pink, 0 0 16px $teal, 0 0 16px $purple;
  transition: 0.5s;
}

.navbar-icon a:hover {
  // transition: 1s;
  text-decoration: none;
  text-shadow: 0 0 24px $teal, 0 0 32px $purple;
}

#nav-spacer {
  color: $teal;
  text-decoration: none;
  text-shadow: 0 0 16px $pink, 0 0 24px $teal, 0 0 32px $purple;
}

// text shadow
// 0 0 1px $white,
