<div class="container">
  <div class="cards mt-5">
    <% @gangs.each do |gang| %>
      <div class="card-category">
        <%= link_to gang.name.upcase, gang_path(gang) %>
      </div>
    <% end %>
  </div>
</div>


