<div class="container">
  <div class="cards mt-5">
    <% if @gangs.present? %>
      <% @gangs.each do |gang| %>
        <div class="card-category">
          <%= link_to gang.name.upcase, gang_path(gang) %>
        </div>
      <% end %>
    <% end %>
    <div class="card-category">
      <div class="navbar-add mx-3">
        <%= link_to new_gang_path do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>


