<div class="containter">
  <div class="col">
    <div class="form-neon mt-5">
      <%= simple_form_for @gang do |f| %>
        <%= f.input :name %>
        <%= f.submit 'Create', :input_html => { class: 'neon-button' } %>
      <% end %>
    </div>
  </div>
</div>
