<div class="containter">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="form-neon mt-5">
        <%= simple_form_for @gang do |f| %>
          <%= f.input :name %>
          <%= f.button :submit, 'Create', class: 'neon-button' %>
        <% end %>
      </div>
    </div>

  </div>
</div>
